* {
    margin: 0;
    padding: 0;
    font-family: helvetica;
    /* font-weight: 300;
    font-size: 16px; */
}

.container {
    width: 1000px;
    margin: auto;
    
}

/* Navigation Bar */

.navbar {
    display: flex;
    height: 40px;
    margin-top: 10px;
    text-align: center;
}

.logo {
    width: 200px;
    margin: auto;
}

.menuitem {
    display: flex;
    justify-content:flex-end;
    flex-grow: 1;
    margin: auto;
}

.menuitem p {
    padding-left: 10px;
    padding-right: 10px;
    
}

.menuitem p:hover{
    font-size: 20px;
    transition: 250ms;
    font-weight: bold;
    text-decoration: none;
}